
   <label for="grade-txt" class="grade-lbl">Grade</label>
<label for="weight-txt">Weight</label><br>
<section *ngFor="#el of modulesRows">

<input type="number" class="grade-txt" title="{{el}}" max="100" min="0"  (keyup)="validateGrade(gradeTxt, weightTxt, gradeTxt.title)" #gradeTxt>
<input type="number"  class="weight-txt"  title="{{el}}" max="100" min="0" (keyup)="validateWeight(weightTxt, gradeTxt, weightTxt.title)" #weightTxt><br>
<br>
</section>
<div class="add-module"  (click)="addModule()">+</div>
<div >
    <br><div class="calcOutput" [textContent]="output">OUTPUT</div><br><br><br>
</div>
